@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=PT+Serif&family=Poppins&display=swap');



    :root{
        --padding-paragragh: 20px;
        --padding-container: 110px;
    }

    *,*::after,*::before{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body{
        color: #000;
    }
    h1,h4{
        font-family: 'PT Serif', serif;
    }
    
    h2,h3,p{
        font-family: 'Poppins', sans-serif;
    }
    
    .container-grid{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        width: 100%;
        
    }
    
    .header{
        border: 3px solid #0000;
        display: flex;
        justify-content: space-between;
        /* width: 56%; */
        max-width: 768px;
    }
    
    .header-1{
        width: 278px;
        height: 47px;
    }
    .header-1 h1{
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 48px;
        letter-spacing: -0.045em;
    }

    .header-2{
        text-align:justify;
        width: 50%;
    }

    .header-2 p{
        padding-top: var(--padding-paragragh);
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;
        width: 100%;
        color: #000000;
    }

    .section__card{
        margin: 96px auto;
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr) 300px;
        gap: 66.4px 30.69px;
        
    }

   
    
    .card{
        display: flex;
        flex-direction: column;
        width: 240px;
        
    }
    
    img{
        max-width: 100%;
        width: 238px;
        height: 341px;
    }

    .card:nth-child(2),.card:nth-child(5){
        position: relative;
        top: var(--padding-container);
    }

    .card h3{
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        /* identical to box height */


    }
    

    .card h4{
        align-self: flex-end;
        position: relative;
        left: 62px;
        bottom: 325px;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        /* identical to box height */

        text-transform: uppercase;

        transform: rotate(90deg);
    }

  .card:nth-child(4) h4{
        left: 50px;
        bottom: 340px;
    }
    
    .card:nth-child(2) h4{
        left: 52px;
        bottom: 334px;
    }
    
    .card:nth-child(3) h4,.card:nth-child(5) h4,.card:nth-child(6) h4{
        left: 44px;
        bottom: 344px;
    }

    .footer{
        display: flex;
        justify-content: space-around;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        /* identical to box height */

        text-align: center;

        color: #000;

    }






    @media (max-width: 425px){
        
        .header{
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        .header-1{
            font-size: 36px;
            line-height: 48px;
            letter-spacing: -0.045em;
        }
        .header-2{
            
            width: 100%;
        }
        .header-2 h2{
            font-weight: 600;
            font-size: 18px;
            line-height: 27px;
            /* identical to box height */

            text-transform: uppercase;
        }
        
        .header-2 p{
            width: 80%;
            font-size: 14px;
            line-height: 21px;
        }
        .section__card{
            grid-template-columns: 1fr;
            grid-template-rows: 9fr;
            gap: 10px 10px;
        }
        
        .card h3{
            font-weight: 600;
            font-size: 14px;
            line-height: 21px;
        }

        .card h4{
            font-size: 10px;
            line-height: 13px;
            text-transform: uppercase;
        }
        .card:nth-child(2),.card:nth-child(5){
            position: relative;
            top: 0;
        }
    } 